
body {
     margin: 0;
     padding: 0px;
 }
 
 ul {
     margin: 0;
     padding: 0;
 }
 
     ul > li {
         list-style-type: none;
     }
 
 /*主体部分*/
 
 #content {
     width: 80%;
     height: 80%;
     top: 10%;
     left: 10%;
     position: absolute;
     overflow: hidden;
     border: 1px solid #ccc;
 }
 
 
 .content-wrap {
     position: relative;
 }
 
     .content-wrap > li {
         width: 100%;
         height: 100%;
         float: left;
         background: #CAE1FF;
         color: red;
         overflow: hidden;
         position: relative;
     }
 
 /*li:nth-child(2) {
     background: #9BCD9B;
 }
 
 li:nth-child(3) {
     background: yellow;
 }*/
 
 .button {
     position: absolute;
     bottom: 0;
 }
 
 /*男孩*/
 .charector {
     width: 151px;
     height: 291px;
     background: url(http://img.mukewang.com/55ade248000198ae10550582.png) -0px -291px no-repeat;
     position: absolute;
     /* 设置一个元素的坐标 */
     left: 6%;
     top: 30%;
 }
 /*给小男孩添加动画*/
 .slowWalk {
     /* 填入动画样式规则 */
     animation-name: walk_slow;
     animation-duration: 950ms;
     animation-iteration-count: infinite;
     animation-timing-function: steps(1, start);
     /*规定 @keyframes 动画的名称。*/
     -webkit-animation-name: walk_slow;
     /*规定动画完成一个周期所花费的秒或毫秒。默认是 0*/
     -webkit-animation-duration: 950ms;
     /*规定动画被播放的次数。默认是 1。 infinite(循环播放)*/
     -webkit-animation-iteration-count: infinite;
     /*动画切换的方式是一帧一帧的改变*/
     -webkit-animation-timing-function: steps(1, start);
     -moz-animation-name: walk_slow;
     -moz-animation-duration: 950ms;
     -moz-animation-iteration-count: infinite;
     -moz-animation-timing-function: steps(1, start);
 }
 /*暂停动画 样式*/
 
 .pausewalk {
     -webkit-animation-play-state: paused;
     -moz-animation-play-state: paused;
 }
 
 /*定义一个小男孩走路的动画*/
 
 @-webkit-keyframes walk_slow {
     0% {
         background-position: -0px -291px;
     }
 
     25% {
         background-position: -602px -0px;
     }
 
     50% {
         background-position: -302px -291px;
     }
 
     75% {
         background-position: -151px -291px;
     }
 
     100% {
         background-position: -0px -291px;
     }
 }
 
 @-moz-keyframes walk_slow {
     0% {
         background-position: -0px -291px;
     }
 
     25% {
         background-position: -602px -0px;
     }
 
     50% {
         background-position: -302px -291px;
     }
 
     100% {
         background-position: -0px -291px;
     }
 }
 
 /*太阳自转和小时动画*/
 #sun {
     background: url("http://img.mukewang.com/55ade004000106c202010201.png") no-repeat;
     position: absolute;
     z-index: 1;
     top: -30px;
     height: 201px;
     width: 201px;
     right: 40%;
 }
 
 .rotation {
     -webkit-animation-name: rotation;
     -webkit-animation-duration: 30s;
     -moz-animation-name: rotation;
     -moz-animation-duration: 30s;
 }
 
 @-webkit-keyframes rotation {
     0% {
         transform: translateX(0) translateY(0);
     }
 
     100% {
         transform: translateX(-2000px) translateY(400px);
     }
 }
 
 @-moz-keyframes rotation {
     0% {
         transform: translateX(0) translateY(0);
     }
 
     100% {
         transform: translateX(-2000px) translateY(400px);
     }
 }
 
 /*云*/
 /* 天空云 */
 
 .cloud {
     z-index: 2;
     position: absolute;
 }
 
 .cloud1 {
     width: 181px;
     height: 101px;
     left: -5%;
     /*top: 15%;*/
     background: url("http://img.mukewang.com/55addfde0001aec501810101.png");
 }
 
 
 .cloud2 {
     width: 301px;
     height: 140px;
     right: -5%;
     background: url("http://img.mukewang.com/55addff500016df503010140.png");
 }
 
 .cloud1Anim {
     -webkit-animation-name: smallCloud;
     -webkit-animation-duration: 30s;
     -webkit-animation-iteration: infinite;
     -moz-animation-name: smallCloud;
     -moz-animation-duration: 30s;
     -moz-animation-iteration: infinite;
 }
 
 .cloud2Anim {
     -webkit-animation-name: largeCloud;
     -webkit-animation-duration: 60s;
     -webkit-animation-iteration: infinite;
     -moz-animation-name: largeCloud;
     -moz-animation-duration: 60s;
     -moz-animation-iteration: infinite;
 }
 
 @-webkit-keyframes smallCloud {
     0% {
         left: -5%;
     }
 
     100% {
         left: 100%;
     }
 }
 
 @-moz-keyframes smallCloud {
     0% {
         left: -5%;
     }
 
     100% {
         left: 100%;
     }
 }
 
 @-webkit-keyframes largeCloud {
     0% {
         right: -5%;
     }
 
     100% {
         right: 100%;
     }
 }
 
 @-moz-keyframes largeCloud {
     0% {
         right: -5%;
     }
 
     100% {
         right: 100%;
     }
 }
 
 /*男孩转身*/
 
 .boy-rotate {
     -webkit-animation-name: boy-rotate;
     -webkit-animation-duration: 850ms;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-timing-function: step-start;
     -webkit-animation-fill-mode: forwards;
     -moz-animation-name: boy-rotate;
     -moz-animation-duration: 850ms;
     -moz-animation-iteration-count: 1;
     -moz-animation-timing-function: step-start;
     -moz-animation-fill-mode: forwards;
 }
 
 @-webkit-keyframes boy-rotate {
     0% {
         background-position: -603px -291px;
     }
 
     16.7% {
         background-position: -150px -0px;
     }
 
     33.4% {
         background-position: -453px -291px;
     }
 
     50.1% {
         background-position: -0px -0px;
     }
 
     66.8% {
         background-position: -903px -291px;
     }
 
     83.5% {
         background-position: -753px -291px;
     }
 
     100% {
         background-position: -603px -291px;
     }
 }
 
 @-moz-keyframes boy-rotate {
     0% {
         /*background-position: -603px -291px;*/
     }
 
     16.7% {
         background-position: -150px -0px;
     }
 
     33.4% {
         background-position: -453px -291px;
     }
 
     50.1% {
         background-position: -0px -0px;
     }
 
     66.8% {
         background-position: -903px -291px;
     }
 
     83.5% {
         background-position: -753px -291px;
     }
 
     100% {
         background-position: -603px -291px;
     }
 }
 /********************************A图 start**************************************/
 .a_background {
     width: 100%;
     height: 100%;
     position: absolute;
 }
 
 .a_background_top {
     width: 100%;
     height: 71.6%;
     background-image: url("http://img.mukewang.com/55addf6900019d8f14410645.png");
     background-size: 100% 100%;
 }
 
 .a_background_middle {
     width: 100%;
     height: 13.1%;
     background-image: url("http://img.mukewang.com/55addf800001ff2e14410118.png");
     background-size: 100% 100%;
 }
 
 .a_background_botton {
     width: 100%;
     height: 15.3%;
     background-image: url("http://img.mukewang.com/55addfcb000189b314410138.png");
     background-size: 100% 100%;
 }
 /********************************A图 end**************************************/
 
 /********************************B图 start**************************************/
 
 .b_background {
     width: 100%;
     height: 100%;
     background-image: url("http://img.mukewang.com/55ade06f00015a0d14410901.png");
     background-size: 100% 100%;
     position: absolute;
 }
 
 .b_background_preload {
     background: url("http://img.mukewang.com/55ade0be0001a37914410901.png") no-repeat -9999px -9999px;
 }
 
 .lamp-bright {
     background-image: url("http://img.mukewang.com/55ade0be0001a37914410901.png");
 }
 
 
 /*商店*/
 
 .shop {
     width: 39.5%;
     height: 35.5%;
     position: absolute;
     left: 29%;
     top: 36.5%;
 }
 
 .door {
     position: absolute;
     width: 32%;
     height: 100%;
     top: 32%;
     height: 68%;
     overflow: hidden;
     left: 58.5%;
 }
 
 .door-left,
 .door-right {
     width: 50%;
     height: 100%;
     position: absolute;
 }
 
 .door-left {
     left: 0%;
     background: url(http://img.mukewang.com/55ade1140001050d00910231.png);
     background-size: 100% 100%;
 }
 
 .door-right {
     left: 50%;
     background: url(http://img.mukewang.com/55ade12100019f5b00910231.png);
     background-size: 100% 100%;
 }
 /**取花的过程**/
 .slowFlolerWalk {
     -webkit-animation-name: person-floler-slow;
     -webkit-animation-duration: 950ms;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: step-start;
     -moz-animation-name: person-floler-slow;
     -moz-animation-duration: 950ms;
     -moz-animation-iteration-count: infinite;
     -moz-animation-timing-function: step-start;
 }
 
 /*带花*/
 
 @-webkit-keyframes person-floler-slow {
     0% {
         background-position: -453px -0px;
     }
 
     25% {
         background-position: -904px -0px;
     }
 
     50% {
         background-position: -451px -0px;
     }
 
     75% {
         background-position: -753px -0px;
     }
 
     100% {
         background-position: -300px -0px;
     }
 }
 
 @-moz-keyframes person-floler-slow {
     0% {
         background-position: -453px -0px;
     }
 
     25% {
         background-position: -904px -0px;
     }
 
     50% {
         background-position: -451px -0px;
     }
 
     75% {
         background-position: -753px -0px;
     }
 
     100% {
         background-position: -300px -0px;
     }
 }
 
 /*鸟*/
 
 .bird {
     min-width: 91px;
     min-height: 71px;
     top: 10%;
     position: absolute;
     z-index: 10;
     right: -91px;
     background: url(http://img.mukewang.com/55ade1700001b38302730071.png) -182px 0px no-repeat;
 }
 
 .birdFly {
     -webkit-animation-name: bird-slow;
     -webkit-animation-duration: 400ms;
     -webkit-animation-timing-function: step-start;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-name: bird-slow;
     -moz-animation-duration: 400ms;
     -moz-animation-timing-function: step-start;
     -moz-animation-iteration-count: infinite;
 }
 
 
 /*鸟慢飞*/
 @-webkit-keyframes bird-slow {
     /* 鸟飞的动作 */
     0% {
         background-position: -182px 0px;
     }
 
     50% {
         background-position: 0px 0px;
     }
 
     75% {
         background-position: -91px 0px;
     }
 
     100% {
         background-position: -182px 0px;
     }
 }
 
 @-moz-keyframes bird-slow {
     /* 鸟飞的动作 */
     0% {
         background-position: -182px 0px;
     }
 
     50% {
         background-position: 0px 0px;
     }
 
     75% {
         background-position: -91px 0px;
     }
 
     100% {
         background-position: -182px 0px;
     }
 }
 /********************************B图 end**************************************/
 
 
 /********************************C图 start**************************************/
 
 
 /*背景图*/
 
 .c_background {
     width: 100%;
     height: 100%;
     background-size: 100% 100%;
     position: absolute;
 }
 
 .c_background_top {
     width: 100%;
     height: 71.6%;
     background-image: url("http://img.mukewang.com/55ade19b0001d92c14410645.png");
     background-size: 100% 100%;
 }
 
 
 .c_background_middle {
     width: 100%;
     height: 13.1%;
     background-image: url("http://img.mukewang.com/55ade1b3000135c114410118.png");
     background-size: 100% 100%;
 }
 
 .c_background_botton {
     width: 100%;
     height: 15.3%;
     background-image: url("http://img.mukewang.com/55ade1c30001db5d14410138.png");
     background-size: 100% 100%;
 }
 
 /*小女孩*/
 
 .girl {
     background: url(http://img.mukewang.com/55ade30d000100dc10570291.png) -755px -0px no-repeat;
     position: absolute;
     right: 40%;
     top: 37%;
     width: 151px;
     height: 291px;
 }
 
 .girl-rotate {
     -webkit-animation-name: girl-rotate;
     -webkit-animation-duration: 850ms;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-timing-function: step-start;
     -webkit-animation-fill-mode: forwards;
     -moz-animation-name: girl-rotate;
     -moz-animation-duration: 850ms;
     -moz-animation-iteration-count: 1;
     -moz-animation-timing-function: step-start;
     -moz-animation-fill-mode: forwards;
 }
 
 @-webkit-keyframes girl-rotate {
     0% {
         background-position: -604px -0px;
     }
 
     16.7% {
         background-position: -151px -0px;
     }
 
     33.4% {
         background-position: -906px -0px;
     }
 
     50.1% {
         background-position: -0px -0px;
     }
 
     66.8% {
         background-position: -302px -0px;
     }
 
     83.5% {
         background-position: -453px -0px;
     }
 
     100% {
         background-position: -604px -0px;
     }
 }
 
 @-moz-keyframes girl-rotate {
     0% {
         /*background-position: -604px -0px;*/
     }
 
     16.7% {
         background-position: -151px -0px;
     }
 
     33.4% {
         background-position: -906px -0px;
     }
 
     50.1% {
         background-position: -0px -0px;
     }
 
     66.8% {
         background-position: -302px -0px;
     }
 
     83.5% {
         background-position: -453px -0px;
     }
 
     100% {
         background-position: -604px -0px;
     }
 }
 
 
 /*桥*/
 
 .bridge-bottom {
     position: absolute;
     width: 41%;
     height: 24%;
     left: 29.5%;
     top: 76%;
     overflow: hidden;
     /*    -webkit-transform:perspective(8px) rotateX(.8deg); */
 }
 /*波浪水布局*/
 
 .water {
     width: 100%;
     height: 100%;
 }
 
 .water_1,
 .water_2,
 .water_3,
 .water_4 {
     width: 100%;
     position: absolute;
     height: 50%;
     -webkit-animation-name: shake;
     -webkit-animation-duration: 40s;
     -webkit-animation-direction: alternate;
     -webkit-anination-timing-function: linear;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-name: shake;
     -moz-animation-duration: 40s;
     -moz-animation-direction: alternate;
     -moz-anination-timing-function: linear;
     -moz-animation-iteration-count: infinite;
 }
 
 .water_1 {
     width: 131px;
     height: 15px;
     top: 13%;
     left: 35%;
     background: url(http://img.mukewang.com/55ade1e000010f2908540027.png) -261px -0px no-repeat;
 }
 
 .water_2 {
     width: 161px;
     height: 9px;
     top: 30%;
     left: 45%;
     background: url(http://img.mukewang.com/55ade1e000010f2908540027.png) -693px -0px no-repeat;
     -webkit-animation-delay: 2s;
     -moz-animation-delay: 2s;
 }
 
 .water_3 {
     width: 261px;
     height: 29px;
     top: 50%;
     left: 15%;
     background: url(http://img.mukewang.com/55ade1e000010f2908540027.png) -0px -0px no-repeat;
     -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
 }
 
 .water_4 {
     width: 301px;
     height: 12px;
     top: 75%;
     left: 30%;
     background: url(http://img.mukewang.com/55ade1e000010f2908540027.png) -392px -0px no-repeat;
     -webkit-animation-delay: 3s;
     -moz-animation-delay: 3s;
 }
 
 @-webkit-keyframes shake {
     0%, 100% {
         -webkit-transform: translate3d(0, 0, 0);
     }
 
     10%, 30%, 50%, 70%, 90% {
         -webkit-transform: translate3d(-30px, 0px, 0);
     }
 
     20%, 40%, 60%, 80% {
         -webkit-transform: translate3d(30px, 0px, 0);
     }
 }
 
 @-moz-keyframes shake {
     0%, 100% {
         -moz-transform: translate3d(0, 0, 0);
     }
 
     10%, 30%, 50%, 70%, 90% {
         -moz-transform: translate3d(-30px, 0px, 0);
     }
 
     20%, 40%, 60%, 80% {
         -moz-transform: translate3d(30px, 0px, 0);
     }
 }
 
 
 /*星星*/
 
 .stars {
     width: 100%;
     height: 100%;
     position: absolute;
 }
 
     .stars > li {
         position: absolute;
         width: 30px;
         height: 31px;
         background-image: url("http://img.mukewang.com/55ade1fe00016b8900300031.png");
         -webkit-animation-name: flash;
         -webkit-animation-timing-function: ease-in-out;
         -webkit-animation-iteration-count: infinite;
         -webkit-animation-direction: alternate;
         -moz-animation-name: flash;
         -moz-animation-timing-function: ease-in-out;
         -moz-animation-iteration-count: infinite;
         -moz-animation-direction: alternate;
     }
 
 .stars1 {
     top: 20%;
     left: 30%;
     -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
 }
 
 .stars2 {
     top: 15%;
     left: 20%;
     -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
 }
 
 .stars3 {
     top: 25%;
     left: 85%;
     -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
 }
 
 .stars4 {
     top: 30%;
     left: 70%;
     -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
 }
 
 .stars5 {
     top: 25%;
     left: 20%;
     -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
 }
 
 .stars6 {
     top: 10%;
     left: 65%;
     -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
 }
 
 .li_stars {
     background: #7691d6;
 }
 
 @-webkit-keyframes flash {
     0%, 50%, 100% {
         opacity: 1;
     }
 
     25%, 75% {
         opacity: 0;
     }
 }
 
 @-moz-keyframes flash {
     0%, 50%, 100% {
         opacity: 1;
     }
 
     25%, 75% {
         opacity: 0;
     }
 }
 
 /*文字效果*/
 
 .logo {
     width: 185px;
     height: 81px;
     background-image: url(http://img.mukewang.com/55ade2110001708401850081.png);
     z-index: 999999;
     position: absolute;
     left: 50%;
     margin-left: -92.5px;
     top: 30px;
     display: none;
 }
 
 .logolightSpeedIn {
     display: block;
     -webkit-animation-name: lightSpeedIn;
     -webkit-animation-timing-function: ease-out;
     -webkit-animation-duration: 1s;
     -moz-animation-name: lightSpeedIn;
     -moz-animation-timing-function: ease-out;
     -moz-animation-duration: 1s;
 }
 
 @-webkit-keyframes lightSpeedIn {
     0% {
         -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
         opacity: 0;
     }
 
     60% {
         -webkit-transform: skewX(20deg);
         opacity: 1;
     }
 
     80% {
         -webkit-transform: skewX(-5deg);
         opacity: 1;
     }
 
     100% {
         -webkit-transform: none;
         opacity: 1;
     }
 }
 
 @-moz-keyframes lightSpeedIn {
     0% {
         -moz-transform: translate3d(100%, 0, 0) skewX(-30deg);
         opacity: 0;
     }
 
     60% {
         -moz-transform: skewX(20deg);
         opacity: 1;
     }
 
     80% {
         -moz-transform: skewX(-5deg);
         opacity: 1;
     }
 
     100% {
         -moz-transform: none;
         opacity: 1;
     }
 }
 
 .logoshake {
     -webkit-animation-name: logoshake;
     -webkit-animation-duration: 0.5s;
     -moz-animation-name: logoshake;
     -moz-animation-duration: 0.5s;
 }
 
 @-webkit-keyframes logoshake {
     /* 补充代码使logo产生左右晃动效果 */
     0%, 100% {
         -moz-transform: translate3d(0, 0, 0);
     }
 
     10%, 30%, 50%, 70%, 90% {
         -moz-transform: translate3d(-5px, 0, 0);
     }
 
     20%, 40%, 60%, 80% {
         -moz-transform: translate3d(10px, 0, 0);
     }
 }
 
 @-moz-keyframes logoshake {
     /* 补充代码使logo产生左右晃动效果 */
     0%, 100% {
         -moz-transform: translate3d(0, 0, 0);
     }
 
     10%, 30%, 50%, 70%, 90% {
         -moz-transform: translate3d(-5px, 0, 0);
     }
 
     20%, 40%, 60%, 80% {
         -moz-transform: translate3d(10px, 0, 0);
     }
 }
 /********************************C图 end**************************************/